In [4]:
#importing important libararies 
import numpy as np
import pandas as pd 
import nltk

movies_df=pd.read_csv('movies.csv')
rating_df=pd.read_csv('ratings.csv')
print(movies_df.head())
print(rating_df.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [5]:
print(movies_df.size)
print(rating_df.size)

30987
421356

In [22]:
# merging two dataframes on movieId

#Cleaning the data 

# droping the duplicate columns
# droping the rows with nan values
movies_final_df=pd.merge(movies_df,rating_df, on='movieId')
movies_final_df= movies_final_df.drop_duplicates(subset='title')
movies_final_df.dropna()
print(movies_final_df)
print(movies_final_df.size)

        movieId                                title  \
0             1                     Toy Story (1995)
232           2                       Jumanji (1995)
324           3              Grumpier Old Men (1995)
382           4             Waiting to Exhale (1995)
393           5   Father of the Bride Part II (1995)
...         ...                                  ...
105332   146684        Cosmic Scrat-tastrophe (2015)
105333   146878           Le Grand Restaurant (1966)
105334   148238       A Very Murray Christmas (2015)
105335   148626                 The Big Short (2015)
105338   149532  Marco Polo: One Hundred Eyes (2015)

                                             genres  userId  rating  \
0       Adventure|Animation|Children|Comedy|Fantasy       2     5.0
232                      Adventure|Children|Fantasy      16     3.0
324                                  Comedy|Romance       2     2.0
382                            Comedy|Drama|Romance      80     3.5
393                                          Comedy       2     3.0
...                                             ...     ...     ...
105332                    Animation|Children|Comedy     622     4.0
105333                                       Comedy     622     2.5
105334                                       Comedy     475     3.0
105335                                        Drama     458     4.0
105338                           (no genres listed)     475     4.0

         timestamp
0        859046895
232      849188326
324      859046959
382     1253152402
393      859046959
...            ...
105332  1447456554
105333  1447514637
105334  1451213043
105335  1452014749
105338  1451223429

[10323 rows x 6 columns]
61938

In [28]:
# making Lower case title and genres 
movies_final_df['title'] = movies_final_df['title'].str.lower()
movies_final_df['genres'] = movies_final_df['genres'].str.lower()

print(movies_final_df)
print(movies_final_df.size)

        movieId                                title  \
0             1                     toy story (1995)
232           2                       jumanji (1995)
324           3              grumpier old men (1995)
382           4             waiting to exhale (1995)
393           5   father of the bride part ii (1995)
...         ...                                  ...
105332   146684        cosmic scrat-tastrophe (2015)
105333   146878           le grand restaurant (1966)
105334   148238       a very murray christmas (2015)
105335   148626                 the big short (2015)
105338   149532  marco polo: one hundred eyes (2015)

                                             genres  userId  rating  \
0       adventure|animation|children|comedy|fantasy       2     5.0
232                      adventure|children|fantasy      16     3.0
324                                  comedy|romance       2     2.0
382                            comedy|drama|romance      80     3.5
393                                          comedy       2     3.0
...                                             ...     ...     ...
105332                    animation|children|comedy     622     4.0
105333                                       comedy     622     2.5
105334                                       comedy     475     3.0
105335                                        drama     458     4.0
105338                           (no genres listed)     475     4.0

         timestamp
0        859046895
232      849188326
324      859046959
382     1253152402
393      859046959
...            ...
105332  1447456554
105333  1447514637
105334  1451213043
105335  1452014749
105338  1451223429

[10323 rows x 6 columns]
61938

In [36]:
#replacing the '|' with '' in the column genres so that it can be easily tokenized
movies_final_df.genres = movies_final_df.genres.str.replace('|' , '')
print(movies_final_df.genres.head())

0      adventure animation children comedy fantasy
232                     adventure children fantasy
324                                 comedy romance
382                           comedy drama romance
393                                         comedy
Name: genres, dtype: object

In [43]:
#tokenizing the sentence
movies_final_df['tokenized_genres'] = movies_final_df.apply(lambda row: nltk.word_tokenize(row['genres']), axis=1)
print(movies_final_df.tokenized_genres.head())
print(movies_final_df.head())

0      [adventure, animation, children, comedy, fantasy]
232                       [adventure, children, fantasy]
324                                    [comedy, romance]
382                             [comedy, drama, romance]
393                                             [comedy]
Name: tokenized_genres, dtype: object
     movieId                               title  \
0          1                    toy story (1995)
232        2                      jumanji (1995)
324        3             grumpier old men (1995)
382        4            waiting to exhale (1995)
393        5  father of the bride part ii (1995)

                                          genres  userId  rating   timestamp  \
0    adventure animation children comedy fantasy       2     5.0   859046895
232                   adventure children fantasy      16     3.0   849188326
324                               comedy romance       2     2.0   859046959
382                         comedy drama romance      80     3.5  1253152402
393                                       comedy       2     3.0   859046959

                                      tokenized_genres
0    [adventure, animation, children, comedy, fantasy]
232                     [adventure, children, fantasy]
324                                  [comedy, romance]
382                           [comedy, drama, romance]
393                                           [comedy]

In [73]:
# Import TfidfVectorizer to create TF-IDF vectors
from sklearn.feature_extraction.text import TfidfVectorizer
v= TfidfVectorizer()

In [89]:
for i in movies_final_df.index:
    string_genre = ""
    for j in movies_final_df['tokenized_genres'][i]:
        string_genre += j 
        string_genre += ","
    movies_final_df['string_genre'][i] = string_genre
    movies_final_df['genres_count'][i] = len(movies_final_df['tokenized_genres'][i])
    
print(movies_final_df.head())

C:\Users\Rishabh Gupta\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Rishabh Gupta\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

     movieId                               title  \
0          1                    toy story (1995)
232        2                      jumanji (1995)
324        3             grumpier old men (1995)
382        4            waiting to exhale (1995)
393        5  father of the bride part ii (1995)

                                                genres  userId  rating  \
0    [0.0, 0.40401758763724127, 0.5394433018900108,...       2     5.0
232  [0.0, 0.5052605182418256, 0.0, 0.6270688431080...      16     3.0
324  [0.0, 0.0, 0.0, 0.0, 0.6024291579702036, 0.0, ...       2     2.0
382  [0.0, 0.0, 0.0, 0.0, 0.5414462868301578, 0.0, ...      80     3.5
393  [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...       2     3.0

      timestamp                                   tokenized_genres  \
0     859046895  [adventure, animation, children, comedy, fantasy]
232   849188326                     [adventure, children, fantasy]
324   859046959                                  [comedy, romance]
382  1253152402                           [comedy, drama, romance]
393   859046959                                           [comedy]

                                     string_genre  cluster  genres_count
0    adventure,animation,children,comedy,fantasy,        0           5.0
232                   adventure,children,fantasy,        0           3.0
324                               comedy,romance,        1           2.0
382                         comedy,drama,romance,        1           3.0
393                                       comedy,        2           1.0

In [76]:
# Fit and transform the tfidf_vectorizer with the genres of each movie
tfidf_matrix = v.fit_transform(movies_final_df['string_genre'])
print(tfidf_matrix[0])

  (0, 8)	0.4740731891472358
  (0, 4)	0.26382772773521923
  (0, 3)	0.5014182429226395
  (0, 2)	0.5394433018900108
  (0, 1)	0.40401758763724127

In [88]:
#using kmeans clustering to 
from sklearn.cluster import KMeans
km = KMeans(n_clusters=5)
km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

# Create a column cluster to denote the generated cluster for each movie
movies_final_df["cluster"] = clusters
# Display number of films per cluster (clusters from 0 to 8)
movies_final_df['cluster'].value_counts()

0    3903
3    1928
2    1876
1    1619
4     997
Name: cluster, dtype: int64

In [93]:
# sorting movies based on max_genres and ratings( out of 5)
# genres_count in descending order, ratings descending order
movies_recommended = movies_final_df.sort_values(['genres_count', 'rating'], ascending=[False, False])
movies_recommended

,movieId,title,genres,userId,rating,timestamp,tokenized_genres,string_genre,cluster,genres_count
100406,81132,rubber (2010),"[0.2373243158663711, 0.2713954236595731, 0.0, ...",475,3.0,1314524206,"[action, adventure, comedy, crime, drama, film...","action,adventure,comedy,crime,drama,film-noir,...",0,10.0
99509,76153,lupin iii: first contact (rupan sansei: faasut...,"[0.333208883273989, 0.0, 0.5087710456264056, 0...",475,4.0,1305330334,"[action, animation, comedy, crime, drama, myst...","action,animation,comedy,crime,drama,mystery,ro...",0,8.0
87617,26701,patlabor: the movie (kidô keisatsu patorebâ: t...,"[0.24269919005759036, 0.0, 0.37057331570824, 0...",475,3.0,1339949519,"[action, animation, crime, drama, film-noir, m...","action,animation,crime,drama,film-noir,mystery...",0,8.0
99421,75408,lupin iii: sweet lost night (rupan sansei: swe...,"[0.333208883273989, 0.0, 0.5087710456264056, 0...",475,2.5,1305328872,"[action, animation, comedy, crime, drama, myst...","action,animation,comedy,crime,drama,mystery,ro...",0,8.0
59398,2987,who framed roger rabbit? (1988),"[0.0, 0.34568100183414024, 0.461552434191275, ...",4,5.0,950324532,"[adventure, animation, children, comedy, crime...","adventure,animation,children,comedy,crime,fant...",0,7.0
...,...,...,...,...,...,...,...,...,...,...
101431,87485,bad teacher (2011),"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",224,0.5,1428133228,[comedy],"comedy,",2,1.0
103118,99106,"guilt trip, the (2012)","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",642,0.5,1439772676,[comedy],"comedy,",2,1.0
103873,106062,jackass presents: bad grandpa (2013),"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",642,0.5,1439772279,[comedy],"comedy,",2,1.0
104499,112497,tammy (2014),"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",642,0.5,1439772937,[comedy],"comedy,",2,1.0
104996,121308,goodbye to language 3d (2014),"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...",668,0.5,1431030402,[drama],"drama,",3,1.0

In [95]:
#Top movie found
movies_recommended.title.head(1)

100406    rubber (2010)
Name: title, dtype: object

In [96]:
# Top 5 movies_recomended
movies_recommended.title.head()

100406                                        rubber (2010)
99509     lupin iii: first contact (rupan sansei: faasut...
87617     patlabor: the movie (kidô keisatsu patorebâ: t...
99421     lupin iii: sweet lost night (rupan sansei: swe...
59398                       who framed roger rabbit? (1988)
Name: title, dtype: object